<!DOCTYPE html>
<html lang="en">
<head>
  <title>climate.local</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./static/bootstrap_3.3.7/css/bootstrap.min.css">
  <!-- copied from https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css -->
  <script src="./static/jquery.min.js"></script>
  <!-- copied from https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js -->
  <script src="./static/bootstrap_3.3.7/js/bootstrap.min.js"></script>
  <!-- copied from https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.js -->
  </head>
<body>

<div class="container-fluid">
  <h3>Open Source Climatic Exposure Test Cabinet Example V1.0</h3>
    <br>
    This is a development prototype of the Open Source Climatic Exposure Test Cabinet V1.0 for testing purposes only. Software always contains bugs that possibly lead to errors and malfunctions - Please inform Mr. Björn Huwe if you experience errors or malfunctions on this software. The server is not set up yet for multiple simultaneous access.<br>
    <br>
    This software is running in "debug mode" for validation purposes. Do not leave the machine unattended!<br>
</div>

<br>

<div class="container-fluid">
	<form action="/">
	<a href="/" class="btn btn-info btn-md" role=button>Ok. Let's try out!</a>
	</form>
</div>

</body>
</html>

